<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @menu, partial: "card", as: :menu %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "menus/menu_recipe_menu_joins" %>
  </div>
</div>
