<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Supplier Reviews

    <a data-toggle="collapse" href="#business_account_supplier_reviews_new_form">
      Add supplier review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @business_account.supplier_reviews.each do |supplier_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to supplier_review, supplier_review %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="business_account_supplier_reviews_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "business_accounts/business_account_supplier_reviews_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
