<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Menus

    <a data-toggle="collapse" href="#business_account_menus_new_form">
      Add menu
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @business_account.menus.each do |menu| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to menu, menu %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="business_account_menus_new_form">
        <%= render partial: "business_accounts/business_account_menus_new_form" %>
      </div>
    </div>

  </ul>
</div>
