<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ingredient Supplier Joins

    <a data-toggle="collapse" href="#ingredient_supplier_ingredient_supplier_joins_new_form">
      Add ingredient supplier join
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @ingredient_supplier.ingredient_supplier_joins.each do |ingredient_supplier_join| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to ingredient_supplier_join, ingredient_supplier_join %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to ingredient_supplier_join, method: :delete, data: { confirm: "Do you really want to delete this ingredient_supplier_join" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="ingredient_supplier_ingredient_supplier_joins_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
