<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @ingredient_supplier, partial: "card", as: :ingredient_supplier %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "ingredient_suppliers/ingredient_supplier_ingredient_supplier_joins" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "ingredient_suppliers/ingredient_supplier_supplier_reviews" %>
  </div>
</div>
