<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Orders

    <a data-toggle="collapse" href="#recipe_orders_new_form">
      Add order
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @recipe.orders.each do |order| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to order, order %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to order, method: :delete, data: { confirm: "Do you really want to delete this order" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="recipe_orders_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
