<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @recipe, partial: "card", as: :recipe %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_recipe_ingredient_joins" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_recipe_menu_joins" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_orders" %>
  </div>
</div>
  <!-- Show Page Customization end -->
